body, html {
    height: 100%;
    margin: 0;
    font-size: 11px;
    background-image: url("../images/recordPlayerMobile.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

nav {
    padding-top: 2rem;
}

a {
    color: rgba(0,0,0,.5);
}

a:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 2rem !important;
}

hr {
    width: 50%;
}

.top, .bottom {
    padding: 2rem;
    background-color: white;
}

/* RWD */

@media screen and (min-width: 601px) {
    body, html {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 3rem !important;
    }

    em {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    body, html {
        font-size: 1rem;
    }
}
