#gradingInfo {
    padding: 1rem;
}

#gradingInfoBtn {
    cursor: pointer;
    float: right;
}

.gradingInfo a {
    text-decoration: underline;
    color: white;
}

.gradingInfo a:hover {
    text-decoration: none;
    color: white;
}