#info {
    padding: 1rem;
}

#infoBtn {
    cursor: pointer;
    float: right;
}

.information a {
    text-decoration: underline;
    color: white;
}

.information a:hover {
    text-decoration: none;
    color: white;
}