body, html {
    height: 100%;
    margin: 0;
    font-size: 8px;
}

.container {
    background-color: white;
}

.btn {
    font-size: 8px;
}

.bg {
    width: 100%;
    background-image: url("../images/bgGrey.png");
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.modal-footer {
    justify-content: center;
}

#overseas,
#over250 {
    color: #dc3545;
}

/* RWD */

@media screen and (min-width: 601px) {
    body, html, .btn {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 769px) {
    body, html, .btn {
        font-size: 1rem;
    }
}

