body, html {
    height: 100%;
    margin: 0;
    font-size: 8px;
}

.container {
    background-color: white;
}

.btn {
    font-size: 8px;
}

.bg {
    width: 100%;
    background-image: url("../images/bgGrey.png");
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
}



.navbar {
    padding: .5rem 1rem .5rem .25rem;
}

.nav-link.active {
    font-weight: bold;
}

.form-control {
    width: 75%;
}

.table thead th,
.table thead tr {
    border: none;
}

.table td {
    vertical-align: middle;
    border: none;
}

.table tr {
    border-top: 3px solid #dee2e6;
}

.table th:nth-child(n+3):nth-child(-n+5),
.table td:nth-child(n+3):nth-child(-n+5) {
    text-align: center;
}

.table i {
    display: inline;
    margin-right: 5px;
}

.shopImage {
    width: 100px;
    height: 100px;
}

.actionBtn,
.removeBtn {
    cursor: pointer; 
}

.badge {
    padding: .4em .4em;
}

.modal-footer {
    justify-content: center;
}

#checkout,
#loadMore {
    display: none;
} 

#informationBtn {
    cursor: pointer;
}

td a {
    text-decoration: underline;
    color: white;
}

td a:hover {
    text-decoration: none;
    color: white;
}

#overseas,
#over250 {
    color: #dc3545;
}

/* RWD */

@media screen and (min-width: 601px) {
   
    body, html, .btn {
        font-size: 0.9rem;
    }
    
    .shopImage {
        width: 150px;
        height: 150px;
    }

}

@media screen and (min-width: 769px) {

    body, html, .btn {
        font-size: 1rem;
    }

    .shopImage {
        width: 200px;
        height: 200px;
    }

}

