h1 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 2rem !important;
    padding-top: 10px !important;
    clear: both;
}

h1 a {
    color: black;
}

h1 a:hover {
    text-decoration: none;
    color: black;
}

hr {
    background-color: black;
}


@media screen and (min-width: 601px) {
    h1 {
        font-size: 3rem !important;
    }
}